<?xml version="1.0" encoding="windows-1251"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="ReportsDirectory" value="_Reports\\"/>
    <add key="ConnectionString" value="data source=bps-server;initial catalog=bps;password=123;persist security info=True;user id=sa;workstation id=bps-server;packet size=4096" />
    <add key="OleDbConnectionString" value="Provider=SQLOLEDB.1;Password=123;Persist Security Info=True;User ID=sa;Initial Catalog=bps;Data Source=bps-server;Use Procedure for Prepare=1;Auto Translate=True;Packet Size=4096;Workstation ID=bps-server;Use Encryption for Data=False;Tag with column collation when possible=False" />
    <add key="RAccount.MaxLength" value="20" />
    <add key="POFormatSettingsFile" value="20" />
    
  </appSettings>
</configuration>